    </main>
    
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2026 Trustmate. Support Local Services.</p>
            <p>One Search Away From Finding The Right Person</p>
        </div>
    </footer>
    
    <script src="/js/main.js"></script>
</body>
</html>
